<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head.ejs') %>
        <link href="\css\about.css" rel="stylesheet"/>
    </head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        <h1>Este es el About</h1>
        <%- include('./partials/error.ejs') %>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>