
.sideMenu {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    border: solid 1px black;
    padding: 10px;
}

ul, li{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding-inline-start: 0px;
}

@media (min-width: 760px) {

    .sideMenu {
        grid-column: 1;
        grid-row: 2;
    }
    ul, li{
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        padding-inline-start: 0px;
    }
}