.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.imgProfile {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    font-size: 70px;
    text-align: center;
    align-content: center;
    background-color: #26775B;
    color: white;
    border: solid 1px black
}

#otros-datos, #info-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    width: 300px;
}

#otros-datos > span, #info-user > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}