<div class="cart-modal">
    <section class="cartdetail">
        <table>
            <tbody>
                <tr>
                    <th></th>
                    <th colspan="2">Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td colspan="4">Totales:</td>
                    <td><%=  %></td>
                    <td class="number"><b class="number"><%=  %></b></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="cartresume">
        <h2>Total del carrito</h2>
        </br>
            <p><b>Destinatario:</b> </p>
            <p><b>Provincia:</b> </p>
            <p><b>Localidad:</b> </p>
            <p><b>Codigo postal:</b> </p>
            <p><b>Calle:</b> </p>
        <span id="cartsubtotal">
            <h3>Subtotal</h3>
            <p class="number"></p>
        </span>
        <span id="cartenvio">
            <h3>Envio</h3>
            <div>
                <select name="envio" required>
                    <option value="moto">Moto $1000</option>
                    <option value="micro">Terminal de Micro $1000</option>
                    <option value="local">Retiro en local $0</option>
                    <option value="domicilio">Domicilio</option>
                </select></br>
                <button>Calcular envio</button>
            </div>
        </span>
        <h3>Total</h3>
        <button>Finalizar Compra</button>
    </section>
</div>