.card-user{
    border: solid 1px black;
    background-color: #b6e5db;
    color: 26775b;
    padding: 5px;
    margin: 10px;
    width: 100%;
    height: 50%;
    max-width: 360px;
    max-height: 250x;
}

.card-user h3{
    padding: 3px 0 3px 0;

}

#linea-frontal-card{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

#linea-frontal-card a{
    margin: 0 2px 0 0;
    border: solid 0.5px black;
    width: 7%;
    height: 7%;
    background-color: #26775b;
    text-align: center;
    text-decoration: none;
    color: white;
}

#linea-frontal-card a:hover{
    background-color: red;
    color: black
}

#boton{
    display: flex;
    justify-content: center;
    width: 100%;
}

#boton a{
    text-decoration: none;
    margin: 10px;
    min-width: 95px;
    width: 12vw;
    max-width: 100px;
    font-size: 1rem;
    background-color: #26775b;
    color: white;
    border-radius: 5px;
    padding: 3px;
    transition-duration: 500ms;
    cursor: pointer;
    text-align: center;

}