<% let {id, email, nombre} = userData %>

<section class="change-pass">

<div id="contenedor-pass">

    <h2>Cambio de contrase単a</h2>
    <h4><%= email %></h4>
    <br>
    <label>Contrase単a actual</label>
    <span class="changePassError" id="error-currentPass">error</span>
    <input id="currentP" name="currentPass" type="password">
    <br>
    <label>Contrase単a nueva</label>
    <span class="changePassError" id="error-newPass" >error</span>
    <input id="newPass" name="newPass"  type="password">
    <br>
    <label>Repetir contrase単a nueva</label>
    <span class="changePassError" id="error-newRePass">error</span>
    <input name="newRePass" type="password">
    <br>
    <a type="button">Cambiar</a>
</div>
</section>