.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

.cards article {
    border: solid 1px #5394b0;
    border-radius: 5px;
    padding: 10px;
    
    /* height: 100%;
    width: 70%; */
    /* min-width: 225px;
    min-height: 310px;
    max-width: 305px;
    max-height: 310px; */
}

.cards article:hover{
    background-color:  #b6e5db

}


.titulocard{
    margin: 15px 0 5px 0;
}

.cards article p{
    font-size: 20px;    
    font-weight: bold;
}


.cards article img {
    width: fit-content;
    border-radius: 5px;
    width: 213px;
    height: 213px;
}

@media (min-width: 760px) {

    /* .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .cards article{
        margin: 15px;
        min-width: 200px;
        max-width: 250px;
        max-height: 450px;
    } */

}