* {
    box-sizing: border-box;
}

body {
    margin-bottom: 4.5vh;
}

.carousel {
    position: relative;
    box-sizing: border-box;
    /* border: solid 1px #5394b0; */
    color: #32A97F;
    font-size: 2rem;
    width: cover;
    min-height: 20vh;
    height: 10vh;
    max-height: 50vh;
    /* background-color: rgba(182, 229, 219, 0.2); */
    background-color: #e5e9e6;
    border-radius: 15px;
    margin: 30px 0;
    padding: 3%;
    display: block;
}
.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow {
    border: solid #32A97F;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('https://random.imagecdn.app/600/300');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item-2 {
    background: url('https://random.imagecdn.app/600/301');
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item-3 {
    background: url('https://random.imagecdn.app/600/302');
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.productos {
    background-color: rgba(182, 229, 219, 0.2);
    border: solid 1px #5394b0;
    border-radius: 5px;
    padding: 0px 0px 5px 0px;
    margin: 5px;
}
.productos article {
    font-family: 'Gidole';
    text-align: center;
    /* box-shadow: 0px 0px 10px rgb(100, 100, 100) */
}
.productos article:hover {
    /* box-shadow: 0px 5px black; */
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    color: #32A97F;
}
.productos > p{
    font-family: 'Gidole';
    text-align: center;
    background-color: #b6e5db;
    border-bottom: solid 1px #5394b0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    font-size: 22px;
    padding: 5px 0;
}
.productos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 5px 0px;
    padding: 15px;
    list-style-type: none;
}
.productos ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #5394b0;
    background-color: #b6e5db;
    border-radius: 75%;
    width: 20vw;
    height: 20vw;
   

}
.productos ul li a {
    z-index: 2;
    font-family: 'Gistesy';
    font-size: 150%;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 1px #32A97F;
    position: relative;
    bottom: 35%;
}
.productos ul li img {
    position: absolute;
    width: 10%;
    
    z-index: 1;
} 

.productos a{
    text-decoration: none;
}


.lineaArtesanal {
    background-color: rgba(182, 229, 219, 0.2);
    margin-top: 5px;
    border: solid 1px #5394b0;
    border-radius: 5px;
    padding: 0px 0px 5px 0px;
    margin: 5px;
}
.lineaArtesanal article {
    font-family: 'Gidole';
    text-align: center;
    
}
.lineaArtesanal article:hover {
    /* box-shadow: 0px 5px black; */
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    color: #32A97F;
}
.lineaArtesanal > p{
    font-family: 'Gidole';
    text-align: center;
    background-color: #b6e5db;
    border-bottom: solid 1px #5394b0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 22px;
    padding: 5px 0;
}
.lineaArtesanal ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding: 15px;
    list-style-type: none;
    background-color: #32A97F;
}
.lineaArtesanal ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #5394b0;
    background-color: white;
    border-radius: 75%;
    width: 20vw;
    height: 20vw;
    

}
.lineaArtesanal ul li a {
    z-index: 2;
    font-family: 'Gistesy';
    font-size: 1rem;
    color:black;
    font-weight: bold;
    -webkit-text-stroke: 1px #32A97F;
    position: relative;
    bottom: 25%;
}
.lineaArtesanal ul li img {
    position: absolute;
    width: 10%;
    z-index: 1;
}

.lineaArtesanal a {
    text-decoration: none;
}
.servParroquias {
    font-family: "Gidole";
    /* font-size: 2rem; */
    font-size: 22px;
    padding: 5px 0;
    font-weight: bold;
    background-color: #32A97F;
    border: solid 1px #5394b0;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}


.welcome{
    display: flex;
    margin: 0;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    background-color: rgba(38, 119, 91, 0.5); 
    z-index: 3;
    align-items: center;
    justify-content: center;
}

#mensajewelcome{
 font-size: 30px;
 color: white;
 text-align: center;
}

@media (min-width: 760px) {

    .carousel {
        border-radius: 15px;
    }

    .productos ul li{
        width: 130px;
        height: 130px;
    }

    .lineaArtesanal ul li{
        width: 130px;
        height: 130px;
    }
    .productos ul li img{
        width: 75px;
        height: 75px;
    }

    .lineaArtesanal ul li img{
        width: 75px;
        height: 75px;
    }

    .lineaArtesanal ul li a{
        bottom: 35%;
    }

    #mensajewelcome{
        font-size: 50px;
        text-align: center;
        color: white;
       }
    
}

@media (min-width: 1200px) {

    .productos{
        margin-bottom: 25px;
        padding-bottom: 15px;
    }
   
    .lineaArtesanal{
        padding-bottom: 15px;
    }
    
    .carousel {
        height: 50vh;
        border-radius: 0;
    }
}

@media (min-width: 1267px){
    .productos article {
        margin: 0 30px 0 30px;
      
    }

}

@media (min-width: 1567px){
    .productos article {
        margin: 0 45px 0 45px;
      
    }

}