body{
    background-color: #e5e9e6;
}
i.colorIcon {
    border-radius:50%;
    width:20px;
    height:20px;
    border: solid 1px black;
    padding-inline: 10px;
}

.errors {
    font-weight: 400;
    color: red
}
.number {
    font-family: 'Dejavu-Sans';
    text-align: right;
}
.logo {
    display: none;
}
.logoLargo {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 100px;
    max-width: 800px;
}
a.logoa{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 80%;
    text-align: center;
}


.fa-solid-fa:hover {
    background-color: white;
}

.tituloNavbar {
    padding: 0px 0px 0px 0px;
    margin: auto;
    font-family: 'Bimbo Trial';
    color: black;
    font-size: 2rem;
    -webkit-text-stroke: 1px #32A97F;
}

.barrasuperior {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
nav {
    height: fit-content;
    background-color: #b6e5db;
    padding-top: 20px;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loginNavbar {
    display: none;
    min-width: 20%;
    max-width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.loginNavbar span {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
    height: 60%;
}
.loginNavbar span a {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-decoration: none;
}
.loginNavbar button {
    display: flex;
    /* margin-right: 43px; */
    border: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    width: 12vw;
    font-size: 1rem;
    background-color: #26775b;
    color: white;
    border-radius: 5px;
    padding: 3px;
    transition-duration: 500ms;
    
}

.fa-user {
    color: #26775b;

}

.fa-user:hover{
    color: #2f9b75
}

.fa-cart-shopping{
    color: #26775b;
}

.fa-cart-shopping:hover{
    color: #2f9b75
}

.loginNavbar button a {
    text-decoration:none;
    color: white;
    font-size: 14px;
    
}
.loginNavbar button:hover {
    background-color: #2f9b75;
}

.site {
    padding: 10px;
    background-color: #32A97F;
    font-size: 16px;
    align-items: center;
}
.site ul {
    display: none
}
.target{
    color: white;
}
.burger-menu {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    
}

img.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #32A97F;
    font-size: 110px;
    color: white;
    font-weight: bold;
}

input[type='number'] {
    text-align: right;
}

fieldset {
    border-radius: 5px;
    border: solid 1px black;
}

@media (min-width: 760px) {
    *{
        margin: 0;
    }


      /* .loginNavbar button {
        max-width: 80px;
        margin-right: 0;
      } */
      .loginNavbar {
        min-width: 11.5%;
        max-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 70px;
    }
    .loginNavbar button{
        width: 60%;
        min-width: 55%;
        max-width: 65%;
    }


    .site{
        margin: 0;  
        margin-top: 20px;
  
      }

    nav span {
        height: 80px;
    }
    img.logo {
        display: block;
        padding-top: 10px;
        height: 100%;
        padding-left: 2%;
        margin-right: 4%;
    }
    .logoa {
        width: 70%
    }
    
    .logoLargo {
        width: 75%;
        min-width: 400px;
        width: 35vw;
        height: 100%;
        min-width: 530px;
        max-width: 595px;
    }
        
   
    .site ul {
        display: flex;
        margin: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1%;

    }
    .site ul a li {
        /* width: 10vw; */
        margin: 0px;
        background-color: #32A97F;
        padding: 5px;
        transition: 250ms;
        letter-spacing: 1px;
        /* border: solid 1px #5394b0;  */
    }
    .site ul li:hover {
        background-color: #3ecf9c;
        border-radius: 5px;
    }
    .site a {

        text-decoration:none;
        color: white;
        font-family: 'Gidole';
        font-weight: normal;
    }
    .burger-menu {
    display: none;
}

}

@media (min-width: 1680px) {


    body{
        position: absolute;
        left: calc((100% - 1680px) / 2);
        right: calc((100% - 1680px) / 2);
        padding-top: 5px;
        padding-bottom: 25px;
        align-content: center;
        width: 1680px;
    }
    
    .loginNavbar > span{
        width: 80%
      }
      .loginNavbar button {
        max-width: 100px;
      }

   
    .logoLargo {
        width: 35vw;
        height: 100%;
        min-width: 530px;
        max-width: 595px;
        
    }

    .site{
        margin-top: 30px;
    }
    
    .site ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .site ul a li {
        margin: 0px;
        padding: 10px;
    }
    .site ul a li:hover {
        background-color: #3ecf9c;
        border-radius: 5px;
    }
    .site a li  {
        font-size: 1vw;
        text-decoration:none;
        color: white;
        font-family: 'Gidole';
        font-weight: normal;
    }
    .burger-menu {
        display: none;
    }

    img.logo {
        padding-top: 10px;
        height: 100%;
        padding-left: 5%;
        margin-right: 8%;
    }

    .loginNavbar {
        min-width: 15%;
        max-width: 30%;
    }

}