* {
    font-family: 'Gidole';
    box-sizing: border-box;
}

body {
    margin-bottom: 4.5vh;
}
h3 {
    margin: 10px 0px 10px 0px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submenu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 850px;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    
}

.submenu li{
    list-style-type: none;
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    margin: 0 0 10px 0;
    background-color: #26775b;
    color: white;
    transition: 500ms;
    cursor: pointer;
}

.submenu li a{
    text-decoration: none;
    
   
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px;
}

.pagination span {
    border: solid 1px #32A97F;
    padding: 5px;
    border-radius: 5px;
}

.pagination span:hover {
    box-shadow: 0px 2px 2px #26775b;
}

.pagination .currentPage {
    border: solid 3px #32A97F;
    font-weight: bold;
    color: #26775b;
}

.arrow-cards {
    border: solid #32A97F;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.arrow-prev1 {
    margin-top: 10px;
    margin-left: 5px;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next1 {
    margin-top: 10px;
    margin-right: 5px;
    transform: translateY(-50%) rotate(-45deg);
}
section.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    font-size: 1.2rem;
    background-color: #32A97F;
    color: white;
    border-radius: 5px;
    padding: 15px;
}
section.profile img {
    width: 159px;
    height: 159px;
    border-radius: 50%;
    border: solid 1px black;

}
section.profile > .userData {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 5px;
}
section.profile > .userData > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin: 0 0 15px 0;
}

section.payments {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100%;
    min-width: 50%;
    max-width: 1000px;
}

section.payments > .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: wrap;
}


section.payments > article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
    border-radius: 5px;
    margin: 3px;
}

section.payments > article > img{
    width: 50px;
    border-radius: 5px;
}

section.payments > article > ul{
    display: none;
}
section.payments > article > .category{
    display: none;
}
section.payments > .header > .color{
    display: none;
}
section.payments > .header > .category{
    display: none;
}
section.payments > .header > .name{
    flex: 0 0 125px;
    text-align: center;
}

section.payments > article a.titulocard {
    flex: 0 0 125px;
}
section.payments > article > .price {
    flex: 0 0 50px;
    text-align: center;
}
section.payments > article > .stock {
    flex: 0 0 25px;
    text-align: center;
}
section.payments > article > span.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

button.edit {
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: #26775b;
    color: white;
    transition: 500ms;
}
button.edit:hover {
    background-color: #2f9b75;
}

button.create {
    width: 150px;
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: #26775b;
    color: white;
    width: 150px;
    transition: 500ms;
}
button.create:hover {
    background-color: #2f9b75;
}
button.delete {
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: inherit;
    color: red;
    font-weight: bold;
    transition: 500ms;
}
button.delete:hover {
    color:white;
    background-color: red;
}
a {
    text-decoration: none;
}
button > a {
    text-decoration: none;
    color: white;
}

section.common-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}
.historialpagos .favoritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}
/* .historialpagos > section > .pago {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    border-radius: 5px;
    gap: 10px;
    text-wrap: nowrap;
    width: 600px;
} */
/* .historialpagos > section > span.pago > *{
   
} */
table > tbody tr th {
    font-weight: bold;
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
}
table > tbody > tr.subtitle td {
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
    text-align: center;
}
td {
    background-color: #efefef;
}
/* .hidethis {
    display: none;
} */

tr.article {
    padding: 5px;
}

tr.article > td {
    font-size: 12px;
}

p.cancelado {
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
p.rechazado {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
p.completado {
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
p.enproceso {
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}
td > img.product {
    max-width: 50px;
    max-height: 50px;
}
.desktoplayout {
    display: none;
}
.portraitlayout {
    display: none;
}

.mobilelayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.mobilelayout > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #efefef;
    border: solid 1px #5394b0;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap;
}
.mobilelayout > div > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 5px;
    gap: 10px;
    padding: 5px;
}
.mobilelayout > div > table {
    font-size: 12px;
}

.button {
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: #26775b;
    color: white;
    width: fit-content;
    transition: 500ms;
    cursor: pointer;
}
.button:hover {
    background-color: #2f9b75;
}

canvas {
    min-width: 350px;
}

.detail {
    /* position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(1,1,1,0.5);
    backdrop-filter: blur(10px);
    place-items: center;
    width: 100%;
    height: 100%;
    top: 1%;
    z-index: 15; */
    display: flex;
    margin: 0;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    background-color: rgba(26, 99, 73, 0.2); 
    z-index: 3;
    align-items: center;
    justify-content: center;

}

.detail > div {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    flex-wrap: wrap;
}
.detail > div > span {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    gap: 5px;
}
table > tbody tr th {
    font-weight: bold;
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
}
table > tbody > tr.subtitle td {
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
    text-align: center;
}
td {
    border-bottom: solid 1px black;
}

tr:nth-child(odd) {
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
}
/* .hidethis {
    display: none;
} */

tr.article {
    padding: 5px;
}

tr.article > td {
    font-size: 12px;
}

section.userData{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}
section.favoritos {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    max-width: 900px;
    gap: 10px;
    height: 400px;
    overflow-y: auto;
}
.favoritos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    /* gap: 10px; */
    height: 400px;
    overflow-y: auto;
}
section.favoritos .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 100%;
    background-color: #32A97F;
    padding: 5px;
    border-radius: 5px;
    text-wrap: wrap;
}

section.favoritos .header .p{
    width: 15%;
}
section.favoritos .header p{
    width: 50px;
}
section.favoritos .header i{
    width: 26px;
    height: 26px;
    text-align: center;
}
section.favoritos img {
    width: 50px;
}
section.favoritos article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #efefef;
    width: 100%;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
}
section.favoritos article p{
    width: 15%;
}



.productsAdmin {
    width: 100%;
}
.heart {
    display: inline-block;
    width: 26px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}
.heart:hover {
    cursor: 'pointer';
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.unheart {
    display: inline-block;
    width: 22px;
    aspect-ratio: 1;
    margin: 2px 0px 0px 2px;
    border-image: radial-gradient(white 69%, #0000 70%) 84.5%/50%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

section.delete-acount{
    display: none;
    border: solid black 0.2px;
    padding: 10px;
    width: 100%;
    
}

section.delete-acount div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

section.delete-acount div input{
    margin: 0 0 5px 0;
    align-self: center;
    width: 250px;
    height: 30px;

}
.change-pass{
    border: 1px solid black;
    display: none;
    height: 400px;
    width: 95%;
}

#contenedor-pass{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#contenedor-pass input{
    width: 50%;
}

#contenedor-pass a{
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
    border: hidden;
    padding: 5px;
    background-color: #26775b;
    color: white;
    transition: 500ms;
}

#contenedor-pass a{
background-color: #2f9b75;
}

#error-deleteacount{
    display: none;
    color: red;
    align-self: center;
    margin: 0 0 5px 0;
}

.changePassError{
    display: none;
    color: red;
    margin: 0 0 5px 0;
}

@media (min-width: 540px) {
    .portraitlayout {
        display: block;
    }
    .mobilelayout {
        display: none;
    }


}

@media (min-width: 760px) {
    main{
        flex-direction: row;
        align-items: start;
        margin: 15px 0 0 0;
    }

    section.profile{
        align-self: flex-start;
        
    }

    section.payments > article > ul{
        display: inline-block;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 0px;
        list-style: none;
        margin: 0px;
        padding: 0px;

    }
    section.payments > .header > .name{
        display: inline-block;
        flex: 0 0 100px;
        text-align: center;
    }
    section.payments > .header > .category{
        display: inline-block;
        flex: 0 0 50px;
        text-align: center;
    }
    section.payments > article > .category{
        display: inline-block;
        flex: 0 0 50px;
    }
    section.payments > .header > .price {
        display: inline-block;
        flex: 0 0 50px;
        text-align: center;
    }
    section.payments > article > ul > li{
        border: solid 1px black;
        border-radius: 50%;
    }
    section.payments > .header > .color{
        display: inline-block;
        flex: 0 0 50px;
    }
    section.payments > a.titulocard {
        flex: 0 0 150px;
    }
    section.payments .price {
        flex: 0 0 100px;
        text-align: center;
    }
    section.payments .actions {
        flex: 0 0 70px;
    }
    .desktoplayout {
        display: block;
    }
    .portraitlayout {
        display: none;
    }
    .mobilelayout {
        display: none
    }
    .productsAdmin {
        width: 90%;
    }

    section.delete-acount{
        border: solid black 0.2px;
        padding: 25px;
        max-width: 500px;
        height: 400px;
    }
    
    section.delete-acount div{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        padding: 20px 0 0 0;
    }
    
    section.delete-acount div input{
        margin: 0 0 5px 0;
        align-self: center;
        width: 250px;
        height: 30px;
    
    }

    section.delete-acount div button{
        max-width: 100px;
        align-self: center;
        
    }
    
    #error-deleteacount{
        display: none;
        color: red;
        align-self: center;
    }

    .change-pass{
        max-width: 500px;
    }
    #contenedor-pass{
      min-width: 400px;
    }
    
    section.profile{
        margin: 0 0 0 5px
    }

    .header b{
        width: 85px ;
    }
    
    .rows span, .rows p{
        width: 85px ;
    }
    
    .rows .number{
        width: 85px;
        text-align: center;
    }

    .rows button{
        width: 20px;
        margin: 0 32.5px;
    }
}

@media (min-width: 1000px){
    .header b{
        width: 150px ;
    }
    
    .rows span, .rows p{
        width: 150px ;
    }
    
    .rows .number{
        width: 150px;
        text-align: center;
    }

    .rows button{
        width: 30px;
        margin: 0 60px;
    }

}